.container {
    display: flex;
}

.box {
    width: 200px;
    height: 100px;
    background-color: orange;
    margin: 20px;
    text-align: left;
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
}