body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #154c79;
    color: white;
    height: 100px; /* Altura del banner */
}

.content {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el logo y el texto */
}

.logo {
    height: 60px; /* Ajusta el tamaño del logo */
    display: block; /* Asegura que se comporte como un bloque */
}

.message {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0; /* Elimina márgenes extra del texto */
}